.haytch{
    text-align: center;
    background-color: teal;
}

.form-inline input{
    display: inline-block;
}

.submitButton{
    float: right;
}

.myInput{
    max-width: 19.65%;
}

.tableSection{
    margin-top: 20px;
}

.totalMonthly{
    text-align: center;
    float:right;
    padding-right: 0px;
}

.col-md-3{
    padding-right:0;
}

.deleteButton{
    color:red;    
}